<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<h1>C/C++ Experience</h1>
<p><br/></p>
<h3>Experience</h3>
<hr />
<p>C and C++ while separate languages are included together simply because one is a super 
set of the other. Additionally I have learned to use and program in them very 
recently (Spring 2012) and as such not much work has come from them.</p>
<h3>Projects</h3>
<hr />
<p>Bellow are some of my most recent work with C/C++, with a link to their repository
where you can browse the code.</p>
<ul>
<li><a href="https://github.com/masterkoppa/PianobarQT">PianobarQT</a></li>
</ul>
<p>Additionally here is a list of projects I have contributed to with patches and/or
bug reports.</p>
<ul>
<li><a href="http://6xq.net/projects/pianobar/">pianobar</a></li>
</ul></html>