<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<h1>HTML / JS</h1>
<br/>
<h3>Experience</h3>
<hr />
<p>
HTML / JS was one of the first technologies I had the pleasure of working on. Back in 
the late 90's when the internet techologies hadn't really matured I was introduced to
some basic HTML and Javascript. Since then I've dabbled in them occasionally, only as of
late I've been more involved with it. Project experience revolves mostly around the use 
of jQuery and lately the Bootstrap framework. A perfect example of my work is this website.
<br /><br />
The whole site theme was built from scratch using the Jinja2 Template Engine. This entails a lot
of HTML code and some Javascript.
</p>
<h3>Projects</h3>
<hr />
<p>Bellow are some of my most recent work with HTML/JS, with a link to their repository
where you can browse the code.</p>
<ul>
<li><a href="https://github.com/masterkoppa/ag-hack_day">American Greetings - Hack-Day</a></li>
<li>More to Come Soon...</li>
</ul>
</html>