<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<h1>Java</h1>
<p><br/></p>
<h3>Experience</h3>
<hr />
<p>Java was my first formal language way back in 2007. Originally started through my
highschool's <abbr title="Computer Science">CompSci</abbr> AP course for two years and through <a href="http://www.usfirst.org/">FIRST</a> 
Robotics. Until Python it was my default go to language for just about any project or
task.</p>
<p>Additionally Java is the language I feel most conftarble working with to this day, mostly
due to past experience. Most of my experiences with Java and it's shortcommings have 
assisted me in other languages and facets of my life.</p>
<h3>Projects</h3>
<hr />
<p>Bellow are some of my most recent work with Java, with a link to their repository
where you can browse the code.</p>
<h4>Desktop Applications</h4>
<ul>
<li><a href="https://github.com/masterkoppa/Mastermind">Mastermind</a></li>
</ul>
<h4>Android Applications</h4>
<ul>
<li><a href="https://github.com/masterkoppa/AndroidTesting">AndroidTesting</a></li>
<li><a href="https://github.com/masterkoppa/Grade-Tracker">Grade-Tracker</a></li>
</ul>
</html>