<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<h1>Python</h1>
<p><br/></p>
<h3>Experience</h3>
<hr />
<p>Python was introduced to me on the first college <abbr title="Computer Science">CompSci</abbr> course I took. Since then it 
has been a valuable tool to build both small applications and scripts to help
me with repetitive tasks where Bash is not enough.</p>
<p>While Java is my to go language, Python is always there for when mixing different scripts
and libraries comes in handy, like for example this website. While written in HTML/JS 
everything is really just built from templates in Markdown that are parsed by python
and built into what you see here. A bit dirty and hackish, but that's were python excels
and comes in really handy.</p>
<h3>Projects</h3>
<hr />
<p>Bellow are some of my most recent work with Python, with a link to their repository
where you can browse the code.</p>
<ul>
<li><a href="https://github.com/masterkoppa/MapBoxComposer">MapBoxComposer</a></li>
</ul>
</html>